@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #f7f9fd;
    --font-family: 'Arial, sans-serif';
    --text-color: #333;
    --accent-color: #b8bcc0;
    --text: "Roboto Mono";
    --heading: "Jersey 10";
    --ex: #fff;
    --border-color: #111;
}

body.dark {
    --primary-color: #171616;
    --secondary-color: #0c0c0c;
    --text-color: #dcdcdc;
    --accent-color: #7e7d7d;
    --border-color: #fff;
    --button-color: #f0ecec;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--text-color);
    
}

.container {
    max-width: 60vw;
    margin: 20px auto;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    padding: 30px 0;
}

.line {
    color: var(--heading);
    font-family: var(--text);
}

.logo {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}


.logo {
    padding: 0 0 0 20px;
    background-color: aqua;
}

.nav a {
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--text);
    text-decoration: none;
}

.nav a:hover {
    color: var(--accent-color);
}


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    --background: #3a3a3c;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #3a3a3c;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

.main-content {
    padding: 40px 20px;
    text-align: center;
    
}

.card {
    height: 33vh;
    width: 12vw;
    background-color: #3a3a3a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after,
.card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),
            transparent 70%,
            blue);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
}

.card::before {
    filter: blur(2rem);
    opacity: 0.1;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}


.info {
    display: flex;
    justify-content: center;
}

.info .cavar {
    transition: linear 0.1s;
    height: 45px;
    width: 45px;
    margin: 10px;
}

.info .cavar img {
    height: 30px;
    display: flex;
    width: 30px;
}

.info .cavar:hover {
    transform: translateY(-5px);
}