* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;


}

.contenar {
    width: 900px;
    max-width: 90vw;
    padding-top: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

svg {
    width: 3vw;
}

.haeder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.haeder>.cart_icon {
    position: relative;
}

.haeder>.cart_icon>span {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}